<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>themesh</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminOrders</display-name>
    <servlet-name>AdminOrders</servlet-name>
    <servlet-class>com.controller.admin.AdminOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrders</servlet-name>
    <url-pattern>/AdminOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBrands</display-name>
    <servlet-name>AdminAddBrands</servlet-name>
    <servlet-class>com.controller.admin.AdminAddBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBrands</servlet-name>
    <url-pattern>/AdminAddBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBrand</display-name>
    <servlet-name>AdminAddBrand</servlet-name>
    <servlet-class>com.controller.admin.AdminAddBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBrand</servlet-name>
    <url-pattern>/AdminAddBrand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProducts</display-name>
    <servlet-name>AdminAddProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminAddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProducts</servlet-name>
    <url-pattern>/AdminAddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBrands</display-name>
    <servlet-name>AdminBrands</servlet-name>
    <servlet-class>com.controller.admin.AdminBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBrands</servlet-name>
    <url-pattern>/AdminBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteBrands</display-name>
    <servlet-name>AdminDeleteBrands</servlet-name>
    <servlet-class>com.controller.admin.AdminDeleteBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteBrands</servlet-name>
    <url-pattern>/AdminDeleteBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProducts</display-name>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminDeleteProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <url-pattern>/AdminDeleteProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProducts</display-name>
    <servlet-name>AdminProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProducts</servlet-name>
    <url-pattern>/AdminProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProducts</display-name>
    <servlet-name>AdminUpdateProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminUpdateProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProducts</servlet-name>
    <url-pattern>/AdminUpdateProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDescription</display-name>
    <servlet-name>ProductDescription</servlet-name>
    <servlet-class>com.controller.user.ProductDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDescription</servlet-name>
    <url-pattern>/ProductDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.controller.user.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/ViewProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCategory</display-name>
    <servlet-name>AdminAddCategory</servlet-name>
    <servlet-class>com.controller.admin.AdminAddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCategory</servlet-name>
    <url-pattern>/AdminAddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsUpdatedProcess</display-name>
    <servlet-name>AdminProductsUpdatedProcess</servlet-name>
    <servlet-class>com.controller.admin.AdminProductsUpdatedProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsUpdatedProcess</servlet-name>
    <url-pattern>/AdminProductsUpdatedProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDec</display-name>
    <servlet-name>QuantityIncDec</servlet-name>
    <servlet-class>com.controller.general.QuantityIncDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDec</servlet-name>
    <url-pattern>/QuantityIncDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartItems</display-name>
    <servlet-name>AddCartItems</servlet-name>
    <servlet-class>com.controller.user.AddCartItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartItems</servlet-name>
    <url-pattern>/AddCartItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createOrder</display-name>
    <servlet-name>createOrder</servlet-name>
    <servlet-class>com.controller.user.createOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createOrder</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOrderItems</display-name>
    <servlet-name>InsertOrderItems</servlet-name>
    <servlet-class>com.controller.user.InsertOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderItems</servlet-name>
    <url-pattern>/InsertOrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_id</display-name>
    <servlet-name>Order_id</servlet-name>
    <servlet-class>com.controller.user.Order_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_id</servlet-name>
    <url-pattern>/Order_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartItems</display-name>
    <servlet-name>RemoveCartItems</servlet-name>
    <servlet-class>com.controller.user.RemoveCartItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItems</servlet-name>
    <url-pattern>/RemoveCartItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUP</display-name>
    <servlet-name>SignUP</servlet-name>
    <servlet-class>com.controller.user.SignUP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUP</servlet-name>
    <url-pattern>/SignUP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.controller.user.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.controller.user.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
</web-app>